---
import Layout from '../layouts/Layout.astro';
import { Links } from '../components/links.tsx';
---

<Layout title="Learn With Jason Links">
	<main>
			<h1 class="rewrite-test">Find Learn With Jason Online</h1>
			<Links />
	</main>
</Layout>

<style>
	h1 {
		margin: 2rem 0;
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 60ch;
		text-align: center;
	}
</style>
