.links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
  max-width: 90vw;
  width: 400px;
}

.link {
  border: 2px solid #c10b7e;
  border-radius: 0.25rem;
  color: #c10b7e;
  display: block;
  font-size: 1.25rem;
  padding: 0.5rem;
  text-decoration: none;
}

.link:focus,
.link:hover {
  background: #c10b7e;
  color: #fff;
}
